[submodule "tutorials/tutorial-R"]
	path = tutorials/tutorial-R
	url = https://github.com/OSGConnect/tutorial-R
[submodule "tutorials/tutorial-ScalingUp-R"]
	path = tutorials/tutorial-ScalingUp-R
	url = https://github.com/OSGConnect/tutorial-ScalingUp-R
[submodule "tutorials/tutorial-cp2k"]
	path = tutorials/tutorial-cp2k
	url = https://github.com/OSGConnect/tutorial-cp2k
[submodule "tutorials/tutorial-dagman-namd"]
	path = tutorials/tutorial-dagman-namd
	url = https://github.com/OSGConnect/tutorial-dagman-namd
[submodule "tutorials/tutorial-error101"]
	path = tutorials/tutorial-error101
	url = https://github.com/OSGConnect/tutorial-error101
[submodule "tutorials/tutorial-exitcode"]
	path = tutorials/tutorial-exitcode
	url = https://github.com/OSGConnect/tutorial-exitcode
[submodule "tutorials/tutorial-htcondor-transfer"]
	path = tutorials/tutorial-htcondor-transfer
	url = https://github.com/OSGConnect/tutorial-htcondor-transfer
[submodule "tutorials/tutorial-namd"]
	path = tutorials/tutorial-namd
	url = https://github.com/OSGConnect/tutorial-namd
[submodule "tutorials/tutorial-nelle-nemo"]
	path = tutorials/tutorial-nelle-nemo
	url = https://github.com/OSGConnect/tutorial-nelle-nemo
[submodule "tutorials/tutorial-oasis-parrot"]
	path = tutorials/tutorial-oasis-parrot
	url = https://github.com/OSGConnect/tutorial-oasis-parrot
[submodule "tutorials/tutorial-octave"]
	path = tutorials/tutorial-octave
	url = https://github.com/OSGConnect/tutorial-octave
[submodule "tutorials/tutorial-pegasus"]
	path = tutorials/tutorial-pegasus
	url = https://github.com/OSGConnect/tutorial-pegasus
[submodule "tutorials/tutorial-pegasus-namd"]
	path = tutorials/tutorial-pegasus-namd
	url = https://github.com/OSGConnect/tutorial-pegasus-namd
[submodule "tutorials/tutorial-pegasus-vina"]
	path = tutorials/tutorial-pegasus-vina
	url = https://github.com/OSGConnect/tutorial-pegasus-vina
[submodule "tutorials/tutorial-photodemo"]
	path = tutorials/tutorial-photodemo
	url = https://github.com/OSGConnect/tutorial-photodemo
[submodule "tutorials/tutorial-quickstart"]
	path = tutorials/tutorial-quickstart
	url = https://github.com/OSGConnect/tutorial-quickstart
[submodule "tutorials/tutorial-root"]
	path = tutorials/tutorial-root
	url = https://github.com/OSGConnect/tutorial-root
[submodule "tutorials/tutorial-scaling"]
	path = tutorials/tutorial-scaling
	url = https://github.com/OSGConnect/tutorial-scaling
[submodule "tutorials/tutorial-scaling-up-resources"]
	path = tutorials/tutorial-scaling-up-resources
	url = https://github.com/OSGConnect/tutorial-scaling-up-resources
[submodule "tutorials/tutorial-software"]
	path = tutorials/tutorial-software
	url = https://github.com/OSGConnect/tutorial-software
[submodule "tutorials/tutorial-stash-chirp"]
	path = tutorials/tutorial-stash-chirp
	url = https://github.com/OSGConnect/tutorial-stash-chirp
[submodule "tutorials/tutorial-stash-http"]
	path = tutorials/tutorial-stash-http
	url = https://github.com/OSGConnect/tutorial-stash-http
[submodule "tutorials/tutorial-stash-namd"]
	path = tutorials/tutorial-stash-namd
	url = https://github.com/OSGConnect/tutorial-stash-namd
[submodule "tutorials/tutorial-swift"]
	path = tutorials/tutorial-swift
	url = https://github.com/OSGConnect/tutorial-swift
[submodule "tutorials/tutorial-AutoDockVina"]
	path = tutorials/tutorial-AutoDockVina
	url = https://github.com/OSGConnect/tutorial-AutoDockVina
[submodule "tutorials/tutorial-matlab-HelloWorld"]
	path = tutorials/tutorial-matlab-HelloWorld
	url = https://github.com/OSGConnect/tutorial-matlab-HelloWorld
[submodule "tutorials/tutorial-gromacs"]
	path = tutorials/tutorial-gromacs
	url = https://github.com/OSGConnect/tutorial-gromacs
[submodule "tutorials/tutorial-pegasus-blast"]
	path = tutorials/tutorial-pegasus-blast
	url = https://github.com/OSGConnect/tutorial-pegasus-blast
[submodule "tutorials/tutorial-blast"]
	path = tutorials/tutorial-blast
	url = https://github.com/OSGConnect/tutorial-blast
[submodule "tutorials/tutorial-matlab-RandomMatrix"]
	path = tutorials/tutorial-matlab-RandomMatrix
	url = https://github.com/OSGConnect/tutorial-matlab-RandomMatrix
[submodule "tutorials/tutorial-matlab-SimulatedAnnealing"]
	path = tutorials/tutorial-matlab-SimulatedAnnealing
	url = https://github.com/OSGConnect/tutorial-matlab-SimulatedAnnealing
